@charset "utf-8";



/*動く画像
************************************************************************************************/
*, *:before, *:after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}
.cp_cssslider {
	background:#cccccc;
	border: 10px solid #ffffff;
	box-shadow:1px 1px 5px rgba(0,0,0,0.7);
	height:400px;
	width:600px;
	margin:2em auto;
	overflow:visible;
	position:relative;
}
.cp_cssslider .mask {
	overflow:hidden;
	height:380px;
}
.cp_cssslider ul {
	margin:0;
	padding:0;
	position:relative;
}
/* tooltip */
.cp_cssslider .tooltip {
	background:rgba(0,0,0,0.7);
	width:200px;
	height:auto;
	position:relative;
	bottom:95px;
	left:-300px;
	-webkit-transition:all 0.3s ease-in-out;
	transition:all 0.3s ease-in-out;
}
.cp_cssslider .tooltip h1 {
	color:#fff;
	padding:0 0 0 20px;
}
.cp_cssslider li:hover .tooltip{
	left:0px;
}
.cp_cssslider:hover li,
.cp_cssslider:hover .cp_progressbar {
	-webkit-animation-play-state:paused;
	animation-play-state:paused;
}
.cp_cssslider li {
	width:600px;
	height:400px;
	position:absolute;
	top:-200px;
	list-style:none;
}
.cp_cssslider li:nth-child(1){
	-webkit-animation:cycle1 25s linear infinite;
	animation:cycle1 25s linear infinite;
}
.cp_cssslider li:nth-child(2){
	-webkit-animation:cycle2 25s linear infinite;
	animation:cycle2 25s linear infinite;
}
.cp_cssslider li:nth-child(3){
	-webkit-animation:cycle3 25s linear infinite;
	animation:cycle3 25s linear infinite;
}
.cp_cssslider li:nth-child(4){
	-webkit-animation:cycle4 25s linear infinite;
	animation:cycle4 25s linear infinite;
}
.cp_cssslider li:nth-child(5){
	-webkit-animation:cycle5 25s linear infinite;
	animation:cycle5 25s linear infinite;
}
@keyframes cycle1 {
	0%  { top:0px; }
	4%  { top:0px; }
	16% { top:0px; opacity:1; z-index:0; }
	20% { top:200px; opacity:0; z-index:0; }
	21% { top:-200px; opacity:0; z-index:-1; }
	50% { top:-200px; opacity:0; z-index:-1; }
	92% { top:-200px; opacity:0; z-index:0; }
	96% { top:-200px; opacity:0; }
	100%{ top:0px; opacity:1; }
}
@keyframes cycle2 {
	0%  { top:-200px; opacity:0; }
	16% { top:-200px; opacity:0; }
	20% { top:0px; opacity:1; }
	24% { top:0px; opacity:1; }
	36% { top:0px; opacity:1; z-index:0; }
	40% { top:200px; opacity:0; z-index:0; }
	41% { top:-200px; opacity:0; z-index:-1; }
	100%{ top:-200px; opacity:0; z-index:-1; }
}
@keyframes cycle3 {
	0%  { top:-200px; opacity:0; }
	36% { top:-200px; opacity:0; }
	40% { top:0px; opacity:1; }
	44% { top:0px; opacity:1; }
	56% { top:0px; opacity:1; z-index:0; }
	60% { top:200px; opacity:0; z-index:0; }
	61% { top:-200px; opacity:0; z-index:-1; }
	100%{ top:-200px; opacity:0; z-index:-1; }
}
@keyframes cycle4 {
	0%  { top:-200px; opacity:0; }
	56% { top:-200px; opacity:0; }
	60% { top:0px; opacity:1; }
	64% { top:0px; opacity:1; }
	76% { top:0px; opacity:1; z-index:0; }
	80% { top:200px; opacity:0; z-index:0; }
	81% { top:-200px; opacity:0; z-index:-1; }
	100%{ top:-200px; opacity:0; z-index:-1; }
}
@keyframes cycle5 {
	0%  { top:-200px; opacity:0; }
	76% { top:-200px; opacity:0; }
	80% { top:0px; opacity:1; }
	84% { top:0px; opacity:1; }
	96% { top:0px; opacity:1; z-index:0; }
	100%{ top:200px; opacity:0; z-index:0; }
}
/* progressbar */
.cp_progressbar {
	position:relative;
	top:-5px;
	width:680px;
	height:5px;
	background:#000000;
	-webkit-animation:progressbar 25s ease-out infinite;
	animation:progressbar 25s ease-out infinite;
}
/* animation */
@keyframes progressbar {
	0%, 20%, 40%, 60%, 80%, 100% { width:0%; opacity:0; z-index:2; }
	4%, 24%, 44%, 64%, 84% { width:0%; opacity:0.3; z-index:2; }
	16%, 36%, 56%, 76%, 96% { width:100%; opacity:0.3; z-index:2; }
	18%, 38%, 58%, 78%, 98% { width:100%; opacity:0;  z-index:2; }
}
/*************************************************************************************************/


/*トップページの背景
*************************************************************************************************/
#img_parts {
	height: 40%;
    min-height: 500px;
}
/*画像１枚ごとの指定*/
#img_parts li {
    position: relative; 
	overflow: hidden;   
	float: left;		
	width: 20%;			
	height: 100%;		
}
#img_parts a {
    text-align: center;
	height: 100%;
	display: block;text-decoration: none;
	background: rgba(0, 0, 0, 0.5);	
}

#img_parts a span {
	display: block;
	position: absolute;
	left: 0px;		
	bottom: 45%;	
	width: 100%;
	background: #000;				
	background: rgba(0,0,0,0.5);	
	padding: 30px 0;	
}

/*マウスオン時*/
#img_parts a:hover {
	background: transparent;	
	font-size: 30px;
	/*border-radius: 20%;*/
}
/*テキストのマウスオン時*/
#img_parts a:hover span {
	background: rgba(0,200,200,0.7);	
	color: #fff;			
	border-radius: 10%;
}
/********************************************************************************************/



/*今いるコンテンツを黄色くする
**********************************************************************************************/
#home{
	display: block;
	position: absolute;
	left: 0px;		
	bottom: 42%;	
	width: 100%;
	background: rgb(255, 255, 0);				
	background: rgba(255, 255, 0, 0.5);	
	padding: 46px 0;
	font-size: 31px;
}
#profile{
	display: block;
	position: absolute;
	left: 0px;		
	bottom: 42%;	
	width: 100%;
	background: rgb(255, 255, 0);				
	background: rgba(255, 255, 0, 0.5);	
	padding: 46px 0;	
	font-size: 31px;
}
#research{
	display: block;
	position: absolute;
	left: 0px;		
	bottom: 42%;	
	width: 100%;
	background: rgb(255, 255, 0);			
	background: rgba(255, 255, 0, 0.5);	
	padding: 46px 0;	
	font-size: 31px;
}
#link{
	display: block;
	position: absolute;
	left: 0px;		
	bottom: 42%;	
	width: 100%;
	background: rgb(255, 255, 0);			
	background: rgba(255, 255, 0, 0.5);	
	padding: 46px 0;	
	font-size: 31px;
}
#contact{
	display: block;
	position: absolute;
	left: 0px;		
	bottom: 42%;	
	width: 100%;
	background: rgb(255, 255, 0);			
	background: rgba(255, 255, 0, 0.5);	
	padding: 46px 0;	
	font-size: 25px;
}
/**************************************************************************************************/



/*Home 背景画像
***************************************************************************************************/
#image1 {
	background: url(../images/back_image1.jpg) no-repeat center center / cover;	
	border-radius: 3%;
}
#image2 {
	background: url(../images/back_image2.jpg) no-repeat center center / cover;	
	border-radius: 3%;
}
#image3 {
	background: url(../images/back_image3.jpg) no-repeat center center / cover;
	border-radius: 3%;
}
#image4 {
	background: url(../images/back_image4.jpg) no-repeat center center / cover;
	border-radius: 3%;
}
#image5 {
	background: url(../images/back_image5.jpg) no-repeat center center / cover;
	border-radius: 3%;
}
/***********************************************************************************************/